.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.create-btn {
  margin-top: 5rem;
  padding: 10px 12px;
  font-size: 18px;
  cursor: pointer;
  background: orange;
  color: white;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.create-btn:hover {

  background: orangered;

}

.create-btn {
  margin-top: 5rem;
  padding: 10px 12px;
  font-size: 18px;
  cursor: pointer;
  background: orange;
  color: white;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}