.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.create-btn {
  margin-top: 5rem;
  padding: 10px 12px;
  font-size: 18px;
  cursor: pointer;
  background: orange;
  color: white;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.create-btn:hover {

  
  background: rgb(255, 153, 0);

}

.secondary-button{
  padding: 10px 12px;
  font-size: 18px;
  cursor: pointer;
  background: orange;
  color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.secondary-button:hover{

  background: rgb(255, 153, 0);
 
}
.post-container{
 display: grid;
 grid-template-columns: auto auto auto;
 justify-content: center;
 align-items: center;
 gap: 20px;
  margin: 2rem;
}
.post{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.post-img{
  min-width: 300px;
  min-height: 300px;
  width: 450px;
  height: 450px;
}
